<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/records/forms.css" />
<%- include('../partials/nav') %>

<main>
  <div class="left">
    <% if (user) { %>
    <h2><%= title %> to "<%= record.title %> Record"</h2>
    <form id="new-form" action="/birds/<%= record._id %>/add" method="POST">
      <label for="name-input">Name:</label>
      <input type="text" name="name" id="name-input" autocomplete="off">
      <label for="count">Count:</label>
      <input type="number" name="count" id="count">
      <label for="behavior">Behavior:</label>
      <textarea name="behavior" id="behavior" cols="30" rows="10" placeholder="Include as many behavioral observations as you like. 
      For example: Singing from a stump and fence post. Alternatively 
      foraging on the ground by turning cover. Observed for 3 minutes.
      Or:
      Soaring"></textarea>
      <button type="submit">Add Bird</button>
    </form>
    <% } else { %>
      <h2>This is a no fly zone!</h2>
    <% } %>
  </div>
  <div class="right">
    <h2>Birds Added:</h2>
    <ul>
      <% record.birds.forEach(bird => { %>
        <li> <%= bird.name %> </li>
      <% }) %>
    </ul>
    <a href="/records">SUBMIT RECORD</a>
</main>
<section class="space">

</section>

<%- include('../partials/footer') %>