<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/records/forms.css" />
<%- include('../partials/nav') %>

<main>
  <div class="left">
    <% if (user) { %>
      <% let total = 0 %>
      <% birds.forEach((bird) => { %>
        <% total += 1 %>
      <% }) %>
      <h2><%= title %></h2>
      <h3>Total: <%= total %> Birds</h3>
      <h4><a href="/birds/new">ADD NEW BIRD</a></h4>
      <ul>
        <% birds.forEach((bird) => { %>
          <li>
            <a href="/birds/<%= bird._id %>"><%= bird.name %></a>
          </li>
        <% }) %>
      </ul>
    <% } else { %>
      <h2>There's a fox in the henhouse!</h2>
    <% } %>
  </div>
  <div class="right">
    <h2>big beautiful bird</h2>  
  </div>
</main>
<section class="space">

</section>

<%- include('../partials/footer') %>