<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/birds/index.css" />
<%- include('../partials/nav') %>

<main>
  <div class="left">
    <% if (user) { %>
      <h2><%= title %></h2>
      <% let total = 0 %>
      <div class="title-info">
      <% birds.forEach((bird) => { %>
        <% if (bird.owner.equals(user?.profile._id)) { %>
          <% total += 1 %>
          <% } else { %>
          <% } %>
          <% }) %>
      <h3>Total: <%= total %> Species</h3>
      <form action="/birds/new" method="GET">
        <input type="submit" value="Add Bird" role="button" class="button-59" id="add-bird-btn">
      </form>
      </div>
      <section class="list">
        <ul class="bird-list">
          <% birds.forEach((bird) => { %>
            <% if (bird.owner.equals(user?.profile._id)) { %>
            <li>
              <a href="/birds/<%= bird._id %>"><%= bird.name %></a>
            </li>
            <% } else { %>
            <% } %>
          <% }) %>
        </ul>
      </section>
    <% } else { %>
      <h2>There's a fox in the henhouse!</h2>
    <% } %>
  </div>
  <div class="right">
    <p class="caption">Purple Gallinule | <i>Porphyrio martinicus</i></p> 
  </div>
</main>
<section class="space">

</section>

<%- include('../partials/footer') %>