<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/birds/show.css" />
<%- include('../partials/nav') %>

<main>
  <div class="left">
    <% if (user) { %>
      <section class="head">
        <h1><%= bird.name %></h1>
        <div class="buttons">
          <% if (bird.owner.equals(user?.profile._id)) { %>
            <form action="/birds/<%= bird._id %>/edit" method="GET" class="bird-btn">
              <input type="submit" value="Edit" role="button" class="button-59">
            </form>
            <form action="/birds/<%= bird._id %>/delete" method="GET" class="bird-btn">
              <input type="submit" value="Delete" role="button" class="button-59">
            </form>
          <% } else { %>
            <h2>This is hawkward.</h2>
          <% } %>
        </div>
      </section>
      <section class="paper">
        <% if (bird.instances.length) { %>
          <table>
            <thead>
              <tr>
                <th>Date</th>
                <th>Count</th>
                <th>Behavior</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% bird.instances.forEach((instance) => { %>
                <tr>
                  <td><%= instance.date %></td>
                  <td><%= instance.count %></td>
                  <td><%= instance.behavior %></td>
                  <td>
                    <% if (bird.owner.equals(user?.profile._id)) { %>
                      <form action="/birds/<%= bird._id %>/instances/<%= instance._id %>?_method=DELETE" method="POST">
                        <input type="submit" value="X" role="button" id="x-btn">
                      </form>
                    <% } else { %>
                    <% } %>
                    </form>
                </tr>
              <% }) %>
            </tbody>
          </table>
        <% } else { %>
          <h4>No Sightings Recorded</h4>
        <% } %>
      </section>
    </div>
    <div class="right">
      <section class="sighting-form">
        <h3>Add Sightings</h3>
        <form 
          id="add-instance-form"
          action="/birds/<%= bird._id %>/instances" 
          method="POST"
        >
          <label for="instance-date">Date (dd/mm/yyyy):</label>
          <input type="text" name="date" id="instance-date" autocomplete="off">
          <label for="count">Count:</label>
          <input type="number" name="count" id="count" autocomplete="off">
          <label for="behavior">Behavior:</label>
          <textarea 
            name="behavior" 
            id="behavior" 
            cols="35" 
            rows="5" 
            placeholder="Include any cool or relevant behavioral observations."
          ></textarea>
          <input type="submit" value="Create" role="button" class="button-59">
        </form>
      </section> 
    <% } %>
  </div>
</main>
<section class="space">

</section>

<%- include('../partials/footer') %>