<% if (!user) { %>
  <script defer src="https://accounts.google.com/gsi/client"></script>
<% } %>
</head>
<body>
<header>
  <img src="/images/crow.JPG" alt="crow on a tree">
  <h1>LIFE LIST</h1>
  <div class="invisible"></div>
  <% if (user) { %>
    <div class="profile">
      <h4>Birder: <%= user.profile.name %></h4>
      <img
          src="<%= user.profile.avatar %>"
          alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } else { %>
    <section class="log-in">
      <div 
        id="g_id_onload"
        data-client_id="<%= googleClientID %>"
        data-login_uri="/auth/google"
        data-auto_prompt="false"
      ></div>
      <div 
        class="g_id_signin"
        data-type="standard"
        data-size="large"
        data-theme="filled_black"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left"
      ></div>
    </section>
  <% } %>%>
</header>
<nav>
  <% if (user) { %>
  <a 
    href="/" 
    class=<%= title === 'Life List' ? 'active' : '' %>
  >
    HOME
  </a>
  <a 
    href="/records"
    class=<%= title === 'All Records' ? 'active' : '' %>
  >
    MY BIRDING RECORDS
  </a>
  <a 
    href="/birds"
    class=<%= title === 'My Life List' ? 'active' : '' %>
  > 
    MY LIFE LIST
  </a>
  <a 
    href="/birds/new"
    class=<%= title === 'New Life List Entry' ? 'active' : '' %>
  >
    NEW LIFE LIST ENTRY
  </a>
  <% } else { %>
    <h4>Fly into action! Log in to get started.</h4>
  <% } %>
</nav>