<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/records/index.css" />
<%- include('../partials/nav') %>

<main>
  <div class="left">
    <% if (user) { %>
      <section class="head">
        <h1>My Birding Records</h1>
        <form action="/records/new" method="GET">
          <input type="submit" value="CREATE RECORD" role="button" class="button-59">
        </form>
      </section>
      <section class="table">
        <table id="list">
          <thead>
            <tr>
              <th>Record Title</th>
              <th>Record Date</th>
            </tr>
          </thead>
          <tbody>
            <% records.forEach((record) => { %>
              <tr>
                <td><a href="/records/<%= record._id %>"><%= record.title %></a></td>
                <td><%= record.date %></td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      </section>
    <% } else { %>
      <h2>There's a fox in the henhouse!</h2>
    <% } %>
  </div>
  <div class="right">
    <p>Weka | <i>Gallirallus australis</i></p>
  </div>
</main>
<section class="space">

</section>

<%- include('../partials/footer') %>