<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/records/forms.css" />
<%- include('../partials/nav') %>

<main>
  <div class="left">
    <% if (user) { %>
    <h2><%= title %></h2>
    <h3><%= record.title %></h3>
    <h4><%= record.date %></h4>
    <p> <%= record.description %></p>
      <% if (record.owner.equals(user?.profile._id)) { %>
        <a href="/records/<%= record._id %>/edit">
          <button class="btn">Edit Record</button>
        </a>
        <a href="/records/<%= record._id %>/delete">
          <button class="btn" type="submit">Delete Record</button>
        </a>
      <% } else { %>
        <h2>There's a fox in the henhouse!</h2>
      <% } %>
    <% } %>
  </div>
  <div class="right">
    <h2>Birds Recorded</h2>
    <ul>
      <% record.birds.forEach((bird) => { %>
      <li><a href="/birds/<%= bird._id %>"><%= bird.name %></a></li>
      <% }) %>
    </ul>
  </div>
</main>
<section class="space">

</section>

<%- include('../partials/footer') %>